myenv/
# *.pth
*.pyc
*.db
*.log
*.pot
*.sqlite3
*.sqlite
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
*/__pycache__/

.env
db.sqlite3

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

*/media/images/
*/migrations/